@import "tailwindcss";

@theme {
  --color-myblack:  #0d0d0d;
  --color-mywhite: #F2F2F2;
  --color-mygrey: #707070;

  --color-dark-myblack: #0d0d0d;
  --color-dark-mywhite: #f4f4f4;
  --color-dark-mygrey: #303030;

  --color-myred: #EE4B6A;
  --color-myyellow: #ecc440;
  --color-mygreen: #4baa9f;
  --color-myblue: #3f6baf;
  --color-myorange: #E55934;

  --color-dark-myred: #D3425C;
  --color-dark-myyellow: #CAB300;
  --color-dark-mygreen: #369A8E;
  --color-dark-myblue: #0A4193;
  --color-dark-myorange: #9B3E25;

  --spacing-vertical-sm: 1rem;
  --spacing-vertical-md: 2rem;
  --spacing-vertical-lg: 3rem;

  --text-tiny: 10px;
}

@theme inline {
  --font-mono: var(--monospaced-font), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "DejaVu Mono", "Courier New", monospace;
}

body {
  @apply bg-myblack bg-mywhite dark:bg-myblack text-myblack dark:text-mywhite;
  @apply font-mono  text-tiny sm:text-sm antialiased;
  @apply flex flex-col items-center justify-start;
  @apply p-8 lg:p-12 w-screen;
  @apply underline-offset-2 decoration-from-font;
}

main {
  @apply w-full max-w-xl flex flex-col;
  @apply gap-y-8 md:gap-y-12 lg:gap-y-16;
}

h2 {
 @apply uppercase font-bold mb-6 w-fit text-black dark:text-white; 
}

h2::before {
  content: '## ';
}

ol::marker, li::marker {
  @apply text-dark-mygrey dark:text-mygrey;
}

ol {
  @apply grid justify-start grid-flow-row gap-y-0 pr-4 md:pr-8;
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

ol li {
  @apply px-4;
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

ol li::before {
  counter-increment: item;
  content: counter(item, lower-roman) ".";
  text-align: right;
  color: var(--color-mygrey);
}

section > ul {
  @apply grid grid-flow-row gap-y-4;
  /* @apply px-4 lg:px-8; */
}

ul:is(.concise-ul-px) {
  @apply gap-y-0;
}

ul:is(.dashed-list) {
  @apply list-inside;
  list-style-type: "- ";
}

.myitalic {
  @apply italic text-myblack/80 dark:text-mywhite/80;
}
